import "package:test/test.dart";
import "package:${exerciseClassNameLowerCase}/${exerciseClassNameLowerCase}.dart";

void main() {
  final ${exerciseClassName} = new ${exerciseClassName}();

  group("${exerciseClassName}", () {
${testCasesString}
  });
}